extends ../_template

block title
    = title

block content
    include ../common/preloader

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDILP5EZUZ83YuEMhvenzi26j4SKtiVB_Y&callback=initMap")

    header.section.hero.hero_about(data-page='about')


        ul.socials__hero
            each item, key in socialLinks
                li.socials__item
                    a(href=`${item}` class='socials__link')
                        svg.socials__icon.socials__icon_white
                            use(xlink:href=`assets/img/sprite.svg#${key}`)

        a(href="#").hamburger#hamburger
            svg.hamburger__icon
                use(xlink:href='assets/img/sprite.svg#hamburger')

        a(href="#").down-arrow
            svg.down-arrow__icon
                use(xlink:href='assets/img/sprite.svg#arrow_down')


        .hero__bg.hero__bg_about
        .hero__title
            img(src="assets/img/content/stars1.svg", alt="Background smart object").section-title
        .user.hero__user-block
            .user__photo
                .user__photo-avatar
                    img(src="assets/img/content/about.jpg", alt="").user__photo-img
            .user__name Andrey Vershinin
            .user__desc Web-developer

    main.section.about#section-about
        svg(
        viewbox="0 0 100 10"
        preserveAspectRatio="none"
        class="triangle triangle_fill_left about__triangles about__triangles_left")
            polygon(points="0,0 0,10 100,10")

        svg(
        viewbox="0 0 100 10"
        preserveAspectRatio="none"
        class="triangle triangle_fill_right about__triangles about__triangles_right")
            polygon(points="0,10 100,10 100,0")

        .about__left
            +title('About me', 'stars2.png', 'about__section-title')
            .user-about.about__section-user
                .user-about__picture
                    img(src="assets/img/content/about.jpg", alt="Andrey Vershinin").user-about__picture-img
                .user-about__title
                    .subtitle
                        | Who I am
                .user-about__text
                    P I am a web developer from Kirov, Russia. I build modern sites and web applications. I enjoy working on interesting and complex projects.
                    //- p Я веб разработчик из Кирова. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p I made this site as my self-study educational project. I will refresh the content later. For now, look at all nice pages and feel free to contact me if needed.
                    //- p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём контент. А пока посмотрите, как тут всё классно и красиво!

        .about__right
            .about-data
                .about-data__description.about-user-info
                    .about-user-info__title
                        .subtitle What I can do
                            br
                            span.subtitle__second-line for you
                    .about-user-info__text
                        p
                        | Beautiful and interactive web applications makes me most excited about being software developer.
                        | I am quite good at frontend but I also can do some backend things.
                        | I believe in continuous education and I see myself as a full-stack web developer in the future.
                        //- p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

                .about-data__content
                    ul.skills
                        each skillSection, skillSectionTitle in skills
                            li.skills__item
                                .skill-section
                                    .skill-section__title(id=`${skillSectionTitle}`)= skillSectionTitle
                                    ul.skill-section__list
                                        each skillValue, skillName in skillSection
                                            li.skill-section__item
                                                .skill
                                                    svg.skill__circle.cirlce(viewBox='0 0 110 110')
                                                        circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                                        circle.circle__second(r="45" cx="50%" cy="50%"
                                                                fill="none" transform="rotate(-90 55 55)"
                                                                data-skill-name=`${ skillName }`
                                                                data-skill-value=`${ skillValue }`)
                                                    .skill__name= skillName


    section.section.map
        .contacts.map__contacts
            .contact__title.subtitle Contacts
            ul.contact__contact-list
                li.contact__item
                    a(href=contacts.skype.link).contact__link
                        svg.contact__icon
                            use(xlink:href='assets/img/sprite.svg#skype_n')
                        span.contact__icon-name= contacts.skype.name
                li.contact__item
                    a(href=contacts.email.link).contact__link
                        svg.contact__icon
                            use(xlink:href='assets/img/sprite.svg#envelope_n')
                        span.contact__icon-name adw006 &#128021; yandex
                li.contact__item
                    a(href=contacts.tel.link).contact__link
                        svg.contact__icon
                            use(xlink:href='assets/img/sprite.svg#phone_n')
                        span.contact__icon-name= contacts.tel.name
                li.contact__item
                    .contact__link
                        svg.contact__icon
                            use(xlink:href='assets/img/sprite.svg#map_n')
                        span.contact__icon-name= contacts.adr.name

        .map__bg#map

    include ../common/footer