extends ../_template

block title
    = title

block content
    include ../common/preloader

    header.section.hero.hero_blog(data-page='blog')

        ul.socials__hero
            each item, key in socialLinks
                li.socials__item
                    a(href=`${item}` class='socials__link')
                        svg.socials__icon.socials__icon_white
                            use(xlink:href=`assets/img/sprite.svg#${key}`)

        a(href="#").hamburger#hamburger
            svg.hamburger__icon
                use(xlink:href='assets/img/sprite.svg#hamburger')


        .hero__bg.hero__bg_blog
        .hero__title
            img(src="assets/img/content/stars1.svg", alt="Background smart object").section-title
        .user.hero__user-block
            .user__photo
                .user__photo-avatar
                    img(src="assets/img/content/about.jpg", alt="").user__photo-img
            .title.title_blog Blog
            .user__desc Articles I wrote

    main.section.blog
        svg(
        viewbox="0 0 100 10"
        preserveAspectRatio="none"
        class="two-triangles blog__two-triangles two-triangles_fill_beige-light")
            polygon(points="0,0 0,10 100,10 100,0 50,10")

        ul.blog__table-of-contents
            li.article-title.article-title_active
                a(href='#').article-title__link The most important things in SASS
            li.article-title
                a(href='#').article-title__link Some tricks in layout
            li.article-title
                a(href='#').article-title__link Essential set of Gulp plugins
            li.article-title
                a(href='#').article-title__link Why I choose Frontend

        .blog__articles
            article.article
                h3.article__heading The most important things in SASS
                time(datetime='2017-11-22').article__date November 22, 2017
                p.article__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias doloremque, enim eveniet fugit mollitia perferendis sapiente velit veritatis! Cum cumque dicta exercitationem harum magni maxime necessitatibus nihil quidem repellendus tempore?

                p.article__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto corporis ducimus inventore ipsam provident quisquam quo repellat sit veritatis! Blanditiis, dicta fuga iste modi nesciunt officiis quisquam reprehenderit totam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda blanditiis ducimus modi molestias pariatur possimus repellat saepe similique sunt suscipit, tenetur ut vitae. Deleniti excepturi inventore iste iure tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dicta ducimus explicabo magni recusandae rem, repudiandae tenetur. Debitis dignissimos doloribus et iure nisi placeat porro quos vero? Debitis, sed, tempore.

            article.article
                h3.article__heading Some tricks in layout
                time(datetime='2017-11-13').article__date November 13, 2017
                p.article__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At distinctio dolorum exercitationem fugit, harum illo molestias nesciunt officia, reiciendis repellat similique tenetur. At labore laborum nisi praesentium repellat reprehenderit saepe? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur assumenda corporis, distinctio dolor earum enim eos, et eum maiores maxime molestias mollitia necessitatibus nemo nihil optio perspiciatis quod recusandae.
                p.article__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque dolorem ducimus expedita facere impedit, iusto maiores minima modi molestiae nam necessitatibus officia optio porro praesentium provident quisquam sunt voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur consectetur dolore doloremque error molestiae molestias mollitia necessitatibus nisi repudiandae rerum sed tempora temporibus ut, velit. Adipisci consectetur labore minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut dolor id possimus quam quisquam reprehenderit voluptas! Aperiam dolorum enim, hic, in labore odio omnis, optio pariatur perspiciatis quas repellat?

    footer.footer.footer__blog
        .infoblock
            .infoblock__section
                .infoblock__text.footer__text
                    | This website was built as a result of my self-study educational project.

            .infoblock__section
                .infoblock__links
                    ul.infoblock__page-links
                        li.page-links__item
                            a(href="works").page-links__link Portfolio
                        li.page-links__item
                            a(href="about").page-links__link About me
                        li.page-links__item
                            a(href="#").page-links__link Blog
                        li.page-links__item
                            a(href="/").page-links__link Login

                    ul.infoblock___socials
                        each item, key in socialLinks
                            li.socials__item
                                a(href=`${item}` class='socials__link')
                                    svg.socials__icon.socials__icon_grey
                                        use(xlink:href=`assets/img/sprite.svg#${key}`)

            .infoblock__section
                ul.infoblock__contacts
                    li.infoblock__contacts-item
                        a(href=contacts.skype.link).infoblock__contacts-link.footer__text Skype: adw006
                    li.infoblock__contacts-item
                        a(href=contacts.email.link).infoblock__contacts-link.footer__text adw006 &#128021; yandex
                    li.infoblock__contacts-item
                        a(href=contacts.tel.link).infoblock__contacts-link.footer__text= contacts.tel.name
                    li.infoblock__contacts-item
                        span.footer__text= contacts.adr.name

        .copyright.footer__text
            | &#169; Coded by Andrey Vershinin, designed by &#32;
            a(href='https://loftschool.com/' target='_blank').copyright__ls LoftSchool
            |, 2017