extends ../_template

block title
    = title

block content
    include ../common/preloader

    header.section.hero-wrapper(data-page='works')
        .hero.hero_works
            ul.socials__hero
                each item, key in socialLinks
                    li.socials__item
                        a(href=`${item}` class='socials__link')
                            svg.socials__icon.socials__icon_white
                                use(xlink:href=`assets/img/sprite.svg#${key}`)

            a(href="#").hamburger#hamburger
                svg.hamburger__icon
                    use(xlink:href='assets/img/sprite.svg#hamburger')

            a(href="#").down-arrow
                svg.down-arrow__icon
                    use(xlink:href='assets/img/sprite.svg#arrow_down')

            .hero__bg
            .hero__title
                img(src="assets/img/content/stars1.svg", alt="Background smart object").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="assets/img/content/about.jpg", alt="").user__photo-img
                .user__name Андрей Вершинин
                .user__desc Личный сайт веб-разработчика


        .hero-wrapper__works-title#section-works
            +title('Мои работы', 'stars2-2.png', 'works__section-title')

    main.section.works
        svg(
        viewbox="0 0 100 34"
        preserveAspectRatio="none"
        class="polygon works__polygon polygon_fill_black_semitransparent")
            polygon(points="0,0 0,34 100,34 100,0 50,15")

        .works-block.works-block__left

        .works-block.works-block__right
            .preview.works-block__preview
                ul.preview__slideshow
                    each item, index in myWorks
                        if index === 1
                            li.preview__item.preview__item_active(
                                            style=`background-image: url(${item.picture})`
                                            data-preview-title= item.title
                                            data-preview-technology= item.techStack
                                            data-preview-link= item.link)
                        else
                            li.preview__item(
                                            style=`background-image: url(${item.picture})`
                                            data-preview-title= item.title
                                            data-preview-technology= item.techStack
                                            data-preview-link= item.link)


            .work-description
                .work-description__title.subtitle= myWorks[1].title
                .work-description__technology= myWorks[1].techStack
                a(href=myWorks[1].link target='_blank').button.work-description__button
                    svg.link__icon
                        use(xlink:href='assets/img/sprite.svg#link')
                    | Посмотреть сайт


            .preview-pages.works-block__preview-pages
                a(href="#").preview-page.preview-page_prev
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
                    ul.preview-page__slider.slider
                        each item, index in myWorks
                            if index === 2
                                li.slider__item.slider__item_prev.slider__item_active(
                                                style=`background-image: url(${item.picture})`)
                            else
                                li.slider__item.slider__item_prev(
                                                style=`background-image: url(${item.picture})`)

                a(href="#").preview-page.preview-page_next
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
                    ul.preview-page__slider.slider
                        each item, index in myWorks
                            if index === 0
                                li.slider__item.slider__item_next.slider__item_active(
                                style=`background-image: url(${item.picture})`)
                            else
                                li.slider__item.slider__item_next(
                                style=`background-image: url(${item.picture})`)


    section.talks
        +title('Что обо мне говорят', 'stars3.png', 'talks__section-title')
        .talks__speakers
            .speaker
                img(src="assets/img/content/face_kd.png", alt="фото Ковальчук Дмитрий").speaker__img
                .speaker__text
                    | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .speaker__name
                    strong Ковальчук Дмитрий
                    br
                    span &mdash; основатель Loftschool

            .speaker
                img(src="assets/img/content/face_sv.png", alt="фото Сабанцев Владимир").speaker__img
                .speaker__text
                    | Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!
                .speaker__name
                    strong Сабанцев Владимир
                    br
                    span &mdash; преподаватель

        .contact-me.talks__contact-me
            .contact-me__confirm
                .contact-me__confirm-mess Сообщение
                a.contact-me__confirm-button.button(href='#') Закрыть

            .subtitle.contact-me__subtitle Связаться со мной
            form.contact-form
                .contact-form__fields-section
                    .contact-form__input-wrapper
                        input(type='text' name='name' placeholder='Ваше имя *').contact-form__name
                    .contact-form__input-wrapper
                        input(type='text' name='email' placeholder='Ваш email *').contact-form__email
                    .contact-form__input-wrapper
                        textarea(name='text' placeholder='Ваше сообщение *').contact-form__mess
                input(type='submit' value='Отправить').contact-form__submit.button
                input(type='reset' value='Очистить').contact-form__reset.button

        a(href="#").up-arrow.talks__up-arrow
            svg.up-arrow__icon
                use(xlink:href='assets/img/sprite.svg#arrow_up')

    include ../common/footer