extends ../_template

block title
    | Обо мне

block content
    section.section.hero
        .hero__bg
            img(src="assets/img/bg/head-bg.jpg", alt="").hero__bg-img

        ul.socials
            each item, key in socialLinks
                li.socials__item
                    a(href=`${item}` class='socials__link')
                        svg.socials__icon.socials__icon_white
                            use(xlink:href=`assets/img/sprite.svg#${key}`)

        a(href="#").hamburger
            svg.hamburger__icon
                use(xlink:href='assets/img/sprite.svg#hamburger')

        a(href="#").down-arrow
            svg.down-arrow__icon
                use(xlink:href='assets/img/sprite.svg#arrow_down')

        .hero__title
            img(src="assets/img/content/stars1.svg", alt="").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="assets/img/content/about.jpg", alt="").user__photo-img
                .user__name Андрей Вершинин
                .user__desc Личный сайт веб-разработчика

    section.section.about
        .about__left
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle_fill_white about__triangles about__triangles_left")
                polygon(points="0,0 0,100 1000,100")

            +title('Обо мне', 'stars2.png', 'about__section-title')
            .user-about.about__section-user
                .user-about__picture
                    img(src="assets/img/content/about.jpg", alt="Андрей Вершинин - веб-разработчик").user-about__picture-img
                .user-about__title
                    .subtitle
                        | Кто я
                .user-about__text
                    p Я веб разработчик из Кирова. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .about__right
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle_fill_beige about__triangles")
                polygon(points="0,100 1000,100 1000,0")
            .about-data
                .about-data__description.about-user-info
                    .about-user-info__title
                        .subtitle Чем я могу быть
                            br
                            span.subtitle__second-line вам полезен
                    .about-user-info__text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

                .about-data__content
                    ul.skills
                        each skillSection, skillSectionTitle in skills
                            li.skills__item
                                .skill-section
                                    .skill-section__title= skillSectionTitle
                                    ul.skill-section__list
                                        each skill, skillName in skillSection
                                            li.skill-section__item
                                                .skill
                                                    img(src="assets/img/content/circle.png", alt="").skill__circle
                                                    //- svg.skill__circle
                                                    .skill__name= skillName



