extends ../_template

block title
    | Блог

block content

    header.section.hero.hero_blog
        //-.hero__bg
            img(src="assets/img/bg/head-bg.jpg", alt="").hero__bg-img

        ul.socials__hero
            each item, key in socialLinks
                li.socials__item
                    a(href=`${item}` class='socials__link')
                        svg.socials__icon.socials__icon_white
                            use(xlink:href=`assets/img/sprite.svg#${key}`)

        a(href="#").hamburger#hamburger
            svg.hamburger__icon
                use(xlink:href='assets/img/sprite.svg#hamburger')

        .hero__title
            img(src="assets/img/content/stars1.svg", alt="").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="assets/img/content/about.jpg", alt="").user__photo-img
                .title.title_blog Блог
                .user__desc Статьи, которые я написал


    main.section.blog
        svg(
        viewbox="0 0 100 10"
        preserveAspectRatio="none"
        class="two-triangles blog__two-triangles two-triangles_fill_beige-light")
            polygon(points="0,0 0,10 100,10 100,0 50,10")

        ul.blog__table-of-contents
            li.article-title.article-title_active
                a(href='#').article-title__link Самое важное в SASS
            li.article-title
                a(href='#').article-title__link Приёмы в вёрстке, без которых не обходится ни один сайт
            li.article-title
                a(href='#').article-title__link Самый необходимый набор Gulp плагинов
            li.article-title
                a(href='#').article-title__link Почему я выбрал Frontend

        .blog__articles
            article.article
                h3.article__heading Самое важное в SASS
                time(datetime='2017-11-22').article__date 22 ноября 2017
                p.article__text
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__text
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

            article.article
                h3.article__heading Приёмы в вёрстке, без которых не обходится ни один сайт
                time(datetime='2017-11-13').article__date 13 ноября 2017
                p.article__text
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__text
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

    footer.footer.footer__blog
        .infoblock
            .infoblock__section
                .infoblock__text.footer__text
                    | Этот сайт я сделал в рамках самостоятельного обучения по программе онлайн-школы &#32;
                    a(href='https://loftschool.com/' target='_blank').copyright__ls LoftSchool.

            .infoblock__section
                .infoblock__links
                    ul.infoblock__page-links
                        li.page-links__item
                            a(href="works.html").page-links__link Мои работы
                        li.page-links__item
                            a(href="about.html").page-links__link Обо мне
                        li.page-links__item
                            a(href="blog.html").page-links__link Блог
                        li.page-links__item
                            a(href="index.html").page-links__link Авторизация

                    ul.infoblock___socials
                        each item, key in socialLinks
                            li.socials__item
                                a(href=`${item}` class='socials__link')
                                    svg.socials__icon.socials__icon_grey
                                        use(xlink:href=`assets/img/sprite.svg#${key}`)

            .infoblock__section
                ul.infoblock__contacts
                    li.infoblock__contacts-item
                        a(href=contacts.skype.link).infoblock__contacts-link.footer__text Skype: adw006
                    li.infoblock__contacts-item
                        a(href=contacts.email.link).infoblock__contacts-link.footer__text adw006 &#128021 yandex
                    li.infoblock__contacts-item
                        a(href=contacts.tel.link).infoblock__contacts-link.footer__text= contacts.tel.name
                    li.infoblock__contacts-item
                        span.footer__text= contacts.adr.name

        .copyright.footer__text
            | &#169; Вёрстка и программирование Андрей Вершинин, идея и дизайн &#32;
            a(href='https://loftschool.com/' target='_blank').copyright__ls LoftSchool
            | , 2017