extends ../_template

block title
    | Мои работы

block content
    include ../common/preloader

    header.section.hero-wrapper(data-page='works')
        .hero.hero_works
            ul.socials__hero
                each item, key in socialLinks
                    li.socials__item
                        a(href=`${item}` class='socials__link')
                            svg.socials__icon.socials__icon_white
                                use(xlink:href=`assets/img/sprite.svg#${key}`)

            a(href="#").hamburger#hamburger
                svg.hamburger__icon
                    use(xlink:href='assets/img/sprite.svg#hamburger')

            a(href="#").down-arrow
                svg.down-arrow__icon
                    use(xlink:href='assets/img/sprite.svg#arrow_down')

            .hero__bg
            .hero__title
                img(src="assets/img/content/stars1.svg", alt="Background smart object").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="assets/img/content/about.jpg", alt="").user__photo-img
                .user__name Андрей Вершинин
                .user__desc Личный сайт веб-разработчика


        .hero-wrapper__works-title#section-works
            +title('Мои работы', 'stars2-2.png', 'works__section-title')

    main.section.works
        svg(
        viewbox="0 0 100 34"
        preserveAspectRatio="none"
        class="polygon works__polygon polygon_fill_black_semitransparent")
            polygon(points="0,0 0,34 100,34 100,0 50,15")

        .works-block.works-block__left

        .works-block.works-block__right
            .preview.works-block__preview
                ul.preview__slideshow
                    li.preview__item(style=`background-image: url(assets/img/content/s1.png)`
                                    data-preview-title='Мой сайт-портфолио'
                                    data-preview-technology='JavaScript, Node.js, Mongo.db'
                                    data-preview-link='index.html')
                    li.preview__item.preview__item_active(style=`background-image: url(assets/img/content/s2.png)`
                                    data-preview-title='Cайт интернет-магазина'
                                    data-preview-technology='HTML5 & CSS3'
                                    data-preview-link='https://interiorsite.000webhostapp.com/')
                    li.preview__item(style=`background-image: url(assets/img/content/s3.png)`
                                    data-preview-title='Лендинг пейдж интернет-агентства'
                                    data-preview-technology='HTML5 & CSS3'
                                    data-preview-link='https://andeverin.github.io/waxom-homepage/')


            .work-description
                .work-description__title.subtitle
                    | Cайт интернет-магазина
                .work-description__technology
                    | HTML5 & CSS3
                a(href='https://interiorsite.000webhostapp.com/' target='_blank').button.work-description__button
                    svg.link__icon
                        use(xlink:href='assets/img/sprite.svg#link')
                    | Посмотреть сайт


            .preview-pages.works-block__preview-pages
                a(href="#").preview-page.preview-page_prev
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
                    ul.preview-page__slider.slider
                        li.slider__item.slider__item_prev(style=`background-image: url(assets/img/content/s1.png)`)
                        li.slider__item.slider__item_prev(style=`background-image: url(assets/img/content/s2.png)`)
                        li.slider__item.slider__item_prev.slider__item_active(style=`background-image: url(assets/img/content/s3.png)`)



                a(href="#").preview-page.preview-page_next
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
                    ul.preview-page__slider.slider
                        li.slider__item.slider__item_next.slider__item_active(style=`background-image: url(assets/img/content/s1.png)`)
                        li.slider__item.slider__item_next(style=`background-image: url(assets/img/content/s2.png)`)
                        li.slider__item.slider__item_next(style=`background-image: url(assets/img/content/s3.png)`)



    section.talks
        +title('Что обо мне говорят', 'stars3.png', 'talks__section-title')
        .talks__speakers
            .speaker
                img(src="assets/img/content/face_kd.png", alt="фото Ковальчук Дмитрий").speaker__img
                .speaker__text
                    | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .speaker__name
                    strong Ковальчук Дмитрий
                    br
                    span &mdash; основатель Loftschool

            .speaker
                img(src="assets/img/content/face_sv.png", alt="фото Сабанцев Владимир").speaker__img
                .speaker__text
                    | Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!
                .speaker__name
                    strong Сабанцев Владимир
                    br
                    span &mdash; преподаватель

        .contact-me.talks__contact-me
            .subtitle.contact-me__subtitle Связаться со мной
            form(action='#').contact-form
                .contact-form__fields-section
                    input(type='text' id='contact-name' name='contactName' placeholder='Ваше имя' required).contact-form__name
                    input(type='email' id='contact-email' name='contactEmail' placeholder='Ваш email' required).contact-form__email
                    textarea(id='contact-mess' name='contactMess' placeholder='Ваше сообщение' required).contact-form__mess
                input(type='submit' value='Отправить').contact-form__submit.button
                input(type='reset' value='Очистить').contact-form__reset.button

        a(href="#").up-arrow.talks__up-arrow
            svg.up-arrow__icon
                use(xlink:href='assets/img/sprite.svg#arrow_up')

    include ../common/footer