extends ../_template

block title
    | Мои работы

block content

    header.section
        .hero-wrapper
            .hero.hero_works
                .hero__bg
                    //-img(src="assets/img/bg/head-bg.jpg", alt="").hero__bg-img

                    .hero__header
                        ul.socials__hero
                            each item, key in socialLinks
                                li.socials__item
                                    a(href=`${item}` class='socials__link')
                                        svg.socials__icon.socials__icon_white
                                            use(xlink:href=`assets/img/sprite.svg#${key}`)

                        a(href="#").hamburger
                            svg.hamburger__icon
                                use(xlink:href='assets/img/sprite.svg#hamburger')

                        a(href="#").down-arrow
                            svg.down-arrow__icon
                                use(xlink:href='assets/img/sprite.svg#arrow_down')

                        .hero__title
                            img(src="assets/img/content/stars1.svg", alt="").section-title
                            .user.hero__user-block
                                .user__photo
                                    .user__photo-avatar
                                        img(src="assets/img/content/about.jpg", alt="").user__photo-img
                                .user__name Андрей Вершинин
                                .user__desc Личный сайт веб-разработчика


            .hero-wrapper__works-title
                +title('Мои работы', 'stars2-2.png', 'works__section-title')

    main.section.works
        svg(
        viewbox="0 0 100 34"
        preserveAspectRatio="none"
        class="polygon works__polygon polygon_fill_black_semitransparent")
            polygon(points="0,0 0,34 100,34 100,0 50,15")

        .works-block.works-block__left

        .works-block.works-block__right
            .preview.works-block__preview
                img(src="assets/img/content/w1.png", alt="my work").preview__img

            .work-description
                .work-description__title.subtitle
                    | Сайт школы онлайн образования
                .work-description__technology
                    | HTML, CSS, JavaScript
                a(href='#').button.work-description__button
                    svg.link__icon
                        use(xlink:href='assets/img/sprite.svg#link')
                    | Посмотреть сайт


            .preview-pages.works-block__preview-pages
                a(href="#").preview-page.preview-page_prev
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

                a(href="#").preview-page.preview-page_next
                    svg.preview-page__icon
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_up')


    section.talks
        +title('Что обо мне говорят', 'stars3.png', 'talks__section-title')
        .talks__speakers
            .speaker
                img(src="assets/img/content/face_kd.png", alt="фото Ковальчук Дмитрий").speaker__img
                .speaker__text
                    | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .speaker__name
                    strong Ковальчук Дмитрий
                    br
                    span &mdash; основатель Loftschool

            .speaker
                img(src="assets/img/content/face_sv.png", alt="фото Сабанцев Владимир").speaker__img
                .speaker__text
                    | Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!
                .speaker__name
                    strong Сабанцев Владимир
                    br
                    span &mdash; преподаватель

        .contact-me.talks__contact-me
            .subtitle.contact-me__subtitle Связаться со мной
            form(action='#').contact-form
                .contact-form__fields-section
                    input(type='text' id='contact-name' name='contactName' placeholder='Ваше имя' required).contact-form__name
                    input(type='email' id='contact-email' name='contactEmail' placeholder='Ваш email' required).contact-form__email
                    textarea(id='contact-mess' name='contactMess' placeholder='Ваше сообщение' required).contact-form__mess
                input(type='submit' value='Отправить').contact-form__submit.button
                input(type='reset' value='Очистить').contact-form__reset.button

        a(href="#").up-arrow.talks__up-arrow
            svg.up-arrow__icon
                use(xlink:href='assets/img/sprite.svg#arrow_up')
